*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
/androidApp/keys.properties
/androidApp/signing.properties
/androidApp/keystore.jks
/androidApp/keystore.txt